.site-normal {
     border: 2px solid #22c55e;
}

.site-VIP {
     border: 2px solid #ef4444;
}

.site-sweet {
     color: white;
     border: 2px solid #ec4899;
     background-color: #ec4899;
}

.site-choose {
     background-color: #6b7280;
     border-color: #6b7280;
     color: white;
}

.width-receipt-payment {
     width: 30%;
}

@media only screen and (max-width: 1023px) {
     .info-ticket {
          display: grid !important;
          gap: 10px;
     }
     .info-ticket-2 {
          width: 100% !important;
          grid-column: 1 / span 2;
          grid-row: 1;
     }
}

@media only screen and (max-width: 768px) {
     .info-ticket-2 {
          display: grid !important;
          gap: 10px;
     }
     .ticket-2-item-1 {
          grid-column: 1 / span 2;
          grid-row: 1;
     }
     .width-receipt-payment {
          width: 100%;
     }
}