::-webkit-scrollbar {
     width: 5px;
}

::-webkit-scrollbar-thumb {
     background-color: rgb(71, 71, 71);
}

.size-12 {
     font-size: 12px;
}

.size-14 {
     font-size: 14px;
}

.line-height-16 {
     line-height: 16px;
}